abbr {
    color: #808080;
}

h6 {
    color: #808080;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #5a9bb5;
    color: white;
    border-radius: 0.25rem;
}

.nav-link.active {
    background-color: #158cba !important;
    color: white !important;
}